<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Product</title>
</head>
<body>
    <h1><%= foundProduct.name.toUpperCase() %></h1>
    <ul>
        <li>Price : $<%= foundProduct.price %></li>
        <li>Category : <%= foundProduct.category %></li>
    </ul>
    <a href="/products">Go Back</a>
    <a href="/products/<%=foundProduct._id%>/edit">Edit</a>
    <form action="/products/<%=foundProduct._id%>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
</body>
</html>